.topmenu{
  height: 2em;
  width: 100%;
  background-color: #1e3547;
}

.form{
  margin: auto;
  text-align: center;
}

pre{
  display: inline;
}

.errormessage{
	color: red;
	font-weight: bold;
}