<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<link rel="stylesheet" type="text/css" th:href="@{css/homepage.css}">
	</head>
	
	<body>
	  <div class='topmenu'>
	
	  </div>
	
	  <div class="form">
	    <h1>Borrow a book</h1>
	    <form th:action="@{/}" method="post">
	      <label>
	        <pre>Book         </pre>
	        <select class="textBox" th:field="${book.bookName}">
	        	<div>
	        	<option value="" th:disabled="disabled" th:selected="selected">Select a book to borrow   </option>
	        	<option th:each="eachBook : ${booksList}"
	        			th:value="${eachBook.bookName}" 
	        			th:text="${eachBook.bookName}"></option>
	        	</div>
	        </select>
	      </label><br><br>
	      <label>
	        <pre>Username     </pre>
	        <select class="textBox" th:field="${person.personName}">
	        	<div>
	        	<option value="" th:disabled="disabled" th:selected="selected">Select your name          </option>
	        	<option th:each="eachPerson : ${personsList}"
	        			th:value="${eachPerson.personName}" 
	        			th:text="${eachPerson.personName}"></option>
	        	</div>
	        </select>
	      </label><br><br>
	      <label>
	        <pre>Mobile      </pre> <input class="textBox" th:field="${person.mobile}" name="mobile" value ="">
	      </label><br><br>
	
	      <input type="submit" value="submit">
	    </form><br>
	    
	    <div class="errormessage">
	    	<p th:if="${message} == 'same book already borrowed'" th:text="'The book you selected is already with you!'"></p>
	    </div><br>
	    
	    <div class="errormessage">
	    	<p th:if="${message} == 'book not available'" th:text="'The book you selected is not available at the moment!'"></p>
	    </div><br>
	    
	    <div class="errormessage">
	    	<p th:if="${message} == 'incorrect mobile'" th:text="'Please enter the correct mobile number!'"></p>
	    </div><br>
	
	    <form action="/return_book">
	      <input type="submit" value="RETURN A BOOK?">
	    </form>
	    
	    <form action="/user_registration">
	      <input type="submit" value="NEW USER? CLICK TO REGISTER!">
	    </form>
	
	  </div>
	</body>
	
</html>