<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<link rel="stylesheet" type="text/css" th:href="@{css/homepage.css}">
	</head>
	
	<body>
	  <div class='topmenu'>
	
	  </div>
	
	  <div class="form">
	    <h1>Return a book</h1>
	    <form th:action="@{/return_book}" method="post">
	      <label>
	        <b>Book</b>
	        <select class="textBox" th:field="${book.bookName}">
	        	<div>
	        	<option value="" th:disabled="disabled" th:selected="selected">Select a book to borrow   </option>
	        	<option th:each="eachBook : ${booksList}"
	        			th:value="${eachBook.bookName}" 
	        			th:text="${eachBook.bookName}"></option>
	        	</div>
	        </select>
	      </label><br><br>
	      <label>
	        <b>Username</b>
	        <select class="textBox" th:field="${person.personName}">
	        	<div>
	        	<option value="" th:disabled="disabled" th:selected="selected">What's your name?   </option>
	        	<option th:each="eachPerson : ${personsList}"
	        			th:value="${eachPerson.personName}" 
	        			th:text="${eachPerson.personName}"></option>
	        	</div>
	        </select>
	      </label><br><br>
	      <label>
	        <b>Mobile</b> <input type="text" class="textBox" th:field="${person.mobile}" name="mobile" value ="">
	      </label><br><br>
	
	      <input type="submit" value="submit">
	    </form><br>
	
	  </div>
	  
	  <div class="errormessage">
	    	<p th:if="${message} == 'book not borrowed'" th:text="'You did not borrow the selected book!'"></p>
	    </div><br>
	    
	    <div class="errormessage">
	    	<p th:if="${message} == 'incorrect mobile'" th:text="'Please enter the correct mobile number!'"></p>
	    </div><br>
	
		<div class="redirectlinks">
		    <form action="/">
		      <input type="submit" value="BORROW A BOOK?">
		    </form><br><br>
		    
		    <form action="/user_registration">
		      <input type="submit" value="NEW USER? CLICK TO REGISTER!">
		    </form>
	    </div>
	  
	</body>
	
</html>